@model SearchViewModel

@{
    ViewData["Title"] = "Recipe Search";
}

<h1>Search</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTemplate.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTemplate.TotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTemplate.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTemplate.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTemplate.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTemplate.Instructions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DBObject)
        {
        <tr class="collapsible">
            <td>
                <div>@Html.DisplayFor(modelItem => item.Name)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.TotalTime)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.Difficulty)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.DateCreated)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.Ingredients.ingredient)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.Instructions.InstructionText)</div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.RecipeID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.RecipeID">Delete</a>
            </td>
        </tr>
        }

        @foreach (var item in Model.APIObject)
        {
        <tr class="collapsible">
            <td>
                <a href="https://rapidapi.com/apidojo/api/tasty/" target="_blank">TastyAPI:</a> @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.TotalTime)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.Difficulty)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.DateCreated)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.Ingredients.ingredient)</div>
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.Instructions.InstructionText)</div>
            </td>
            @if (item.VideoString != "")
                {
                    <td>
                        <div><a href="@item.VideoString" target="_blank">Video Link</a></div>
                    </td>
                }

        </tr>
        }
    </tbody>
</table>
